{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}


        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.name| capfirst }}</label>
            <input type="{{ form.username.widget_type }}" name="{{ form.username.name | capfirst }}" class="form-control"
                   id="{{ form.username.id_for_label }}">
        </div>

        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.name| capfirst }}</label>
            <input type="{{ form.email.widget_type }}" name="{{ form.email.name | capfirst }}" class="form-control"
                   id="{{ form.email.id_for_label }}">
        </div>

        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}" class="form-label">{{ form.password1.name| capfirst }}</label>
            <input type="{{ form.password1.widget_type }}" name="{{ form.password1.name | capfirst }}" class="form-control"
                   id="{{ form.password1.id_for_label }}">
        </div>

        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.name| capfirst }}</label>
            <input type="{{ form.password2.widget_type }}" name="{{ form.password2.name | capfirst }}" class="form-control"
                   id="{{ form.password2.id_for_label }}">
        </div>


        <button class="btn btn-primary" type="submit">Register</button>
    </form>

{% endblock %}
